<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SpediA</title>
</head>
<body style="background-color: #eeeeee;">
    <div style="padding: 20px 20px 20px 20px;">
        <div>
            <p>Olá #NOME#!</p>
            <p>Este e-mail foi enviado, pois foi solicitada a recuperação da senha para seu usuário (<b>#USUARIO#</b>).</p>
            <p>A nova senha é <b>#SENHA#</b></p>
            <p>Você pode acessar o sistema clicando <a href="#ENDERECO#">aqui</a></p>
        </div>
        <div style="color: #777777; font-family: arial,sans-serif; font-size: 11px;">
            <p>Esta é uma mensagem automática, por favor não responda.</p>
        </div>
    </div>
</body>
</html>
